<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namepsace 는 필수 속성이다. : dao 식별하기위한 이름 -->
<mapper namespace="com.bitcamp.guest.dao.MessageSessionDao">

	<insert id="insert"
		parameterType="com.bitcamp.guest.domain.Message">
		INSERT INTO GUESTBOOK_MESSAGE
		(MESSAGE_ID, GUEST_NAME,
		PASSWORD, MESSAGE)
		values
		(GM_MID_SEQ.nextval,#{guestName},#{password},#{message})
	</insert>

	<select id="selectCount" resultType="int">
		select count(*) from guestbook_message
	</select>
	
	
	<resultMap id="messageResultmap"
			   type="com.bitcamp.guest.domain.Message" >
		<id property="id" column="message_id"/>
		<result property="guestName" column="guest_name"/>
		<result property="password" column="password"/>
		<result property="message" column="message"/>
	</resultMap>
	

	<select id="selectList"
			parameterType="map"
			resultMap="messageResultmap" >
	
		<![CDATA[
		select message_id, guest_name, password, message from
		( 
		select rownum rnum, message_id, guest_name, password, message from ( 
		select * from guestbook_message m order by m.message_id desc  )
		where rownum <= #{endRow}
		) where rnum >= #{firstRow}
		]]>
		
		
	</select>
	
	

	<select id="select"
			resultMap="messageResultmap" >
		select * from guestbook_message where message_id=#{id}
	</select>
	
	

	<delete id="deleteMessage">		
		delete from guestbook_message where message_id=#{id}
	</delete>
	
	
	











</mapper>